<input class="chordName" value=""></input>
<a href="#" class="deleteBtn">X</a>
<input class="fretNumber" value="1"></input>
<svg width="300px" height="300px"></svg>
<div class="insertRegion">
    <button class="btn insertBtn">+</btn>
</div>