<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Chord Grids!</a>
    </div>
    <ul class="nav navbar-nav navbar-main">
        <li><a href="#" class="newBtn">New</a></li>
        <li><a href="#" class="saveBtn">Save</a></li>
        <li><a href="#" class="loadBtn">Load</a></li>
        <li><a href="#" class="playBtn">Play</a></li>
        <li class="dropdown symbolDropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span>Current: </span>
            <span class="svgContainer"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
</div>
