<div class="helpModal modal fade" id="test_modal">
  <div class="modal-body">
    <h1>Welcome to ChordGrids!</h1>
    <h4>Editing a Grid</h4>
    <p>To edit a chord, click on the desired fret/string to cycle through the available shapes (circle, X, square, triangle, none). Click on the number in the upper left to edit the fret. Click on the area above the grid to edit the title.</p>
    <p>You can zoom in and out by holding the option key and using the scrollwheel.</p>
    <h4>Adding a Grid</h4>
    <p>As you edit the last grid on the page, a new one will automatically be added at the end.</p>
    <h4>Deleting a Grid</h4>
    <p>To delete a grid, hover over it and then click the "X" that appears above and to the right,</p>
    <h4>Saving and Loading Pages</h4>
    <p>Right now, saving and loading takes a bit of manual effort. To save a page of chord grids, click the save button and copy the text that appears in the pop up. Save this text somewhere you can find it later</p>
    <p>To load a page: Click the load button. When the popup appears, paste in the text from a previously saved grid, and then click load. Or, click one of the items in the list to load one of the example pages.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>