<div class="modal fade" id="test_modal">
  <div class="modal-body">
    <p>Paste a saved page in here</p>
    <input class="foo" value='' placeholder='[{"name":"D","fret":"5","data":[[0,0,0,0,0,0],[0,1,0...'></input>
    <p>Or select from the list below</p>
    <a href="#" data='[{"n":"D","f":"5","d":"111134143233244332"},{"n":"G","f":"3","d":"101121131312324441451"},{"n":"C","f":"5","d":"132144234311333401424523"},{"n":"F","f":"5","d":"131141151321411"},{"n":"B","f":"5","d":"141151232301321"},{"n":"Bb","f":"3","d":"132141331401521"},{"n":"Bb","f":"3","d":"121142331401"},{"n":"E","d":"221302331341351"},{"n":"E","d":"221331342401"},{"n":"A","d":"221231241501"},{"n":"A","d":"231243333521"},{"n":"D","f":"4","d":"131211341432"},{"n":"A","f":"4","d":"201221331341"}]'>Ted Green Autumn Leaves</a>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="loadPopupLoadBtn btn btn-primary">Load</a>
  </div>
</div>