<div class="modal fade" id="test_modal">
  <div class="modal-body">
    <p>Paste a saved page in here</p>
    <input class="foo" value='' placeholder='[{"name":"D","fret":"5","data":[[0,0,0,0,0,0],[0,1,0...'></input>
    <p>Or select from the list below</p>
    <a href="#" data='[{"name":"D","fret":"5","data":[[0,0,0,0,0,0],[0,1,0,4,3,0],[0,0,0,3,4,0],[0,0,0,2,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0]]},{"name":"G","fret":"3","data":[[0,0,0,0,0,0],[1,0,1,1,0,0],[0,0,0,0,0,0],[0,2,4,0,0,0],[0,0,0,0,1,1],[0,0,0,0,0,0]]},{"name":"C","fret":"5","data":[[0,0,0,0,0,0],[0,0,0,2,4,0],[0,0,0,4,0,0],[0,1,0,3,0,0],[1,0,4,0,0,0],[0,0,3,0,0,0]]},{"name":"F","fret":"5","data":[[0,0,0,0,0,0],[0,0,0,1,1,1],[0,0,0,0,0,0],[0,0,2,0,0,0],[0,1,0,0,0,0],[0,0,0,0,0,0]]},{"name":"B","fret":5,"data":[[0,0,0,0,0,0],[0,0,0,0,1,1],[0,0,0,2,0,0],[1,0,1,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0]]}]'>Ted Green Autumn Leaves</a>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="loadPopupLoadBtn btn btn-primary">Load</a>
  </div>
</div>