<div class="modal fade" id="test_modal">
  <div class="modal-body">
    <p>Copy and paste this string to save your page</p>
    <input class="foo" value='<%= data.data %>' autofocus></input>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>