.chordGridView {
    text-align: left;
    display: inline-block;
    padding: 20px 10px 5px 5px;
    position: relative;
    border: 1px transparent solid;

    transition-property: top, left, box-shadow;
    transition-duration: 0.25s, 0.25s, 0.25s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0.25s, 0.25s, 0.125s;

    input {
        cursor: text;
        background-color: transparent;
        &:focus {
            background-color: white;
        }
    }
    input.chordName {
        display: block;
        position: relative;
        left: 15px;
        width: 150px;
        text-align: center;
        font-size: 24px;
        &:focus {
            background-color: white;
        }
        z-index: 2;
    }
    input.fretNumber {
        clear: both;
        display: inline;
        width: 37px;
        vertical-align: top;
        position: absolute;
        text-align: right;
        padding-right: 10px;
        top: 57px;
        left: 5px;
        z-index: 3;
        font-size: 24px;
    }
    svg, canvas {
        cursor: crosshair;
        position: relative;
        left: 30px;
    }
    .deleteBtn {
        position: absolute;
        font-size: 24px;
        z-index: 1;
        top: 3px;
        right: 3px;
        display: none;
    }

    &:hover {
        .deleteBtn {
            display: inline;
        }
        border: 1px gray dashed;
    }

    .insertRegion {
        position: absolute;
        top: 0;
        left: 175px;
        width: 40px;
        height: 100%;
        .insertBtn {
            display: none;
            position: relative;
            top: 100px;
            width: 40px;
            height: 40px;
        }
        &:hover {
            .insertBtn {
                display: block;
            }
        }
    }
}