
.noSelection() {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

body {
	.noSelection;
    .navbar {
        height: 50px;
        span {
            vertical-align: top;
        }
        .caret {
            vertical-align: middle;
        }
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .chordGridCollectionView {
    	min-width: 600px;
    	max-width: 3000px;
        .chordGridView:last-child.unedited {
            opacity: 0.5;
        }
        input {
            border: none;
        }
    }

    #content {
        padding-top: 80px;
        padding-left: 20px;
        width: 100%;
        height: 100%;
    }

    .controlsView {
        text-align: center;
        position: fixed;
        width: 100%;
    }

    a, a:hover {
        text-decoration: none;
    }

    .popupOverlay, .popupContainer {
        width: 100%;
        height: 100%;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background: transparent;
    }

    .popupOverlay {
        background: #000;
        opacity: 0.2;
    }

    .popup {
        width: 400px;
        height: 400px;
        background-color: red;
        position: relative;
        top: 100px;
        margin: 0 auto;
    }
}

.symbolDropdownEntry {
    text-align: center;
    height: 25px;
    svg {
        display: inline-block;
        width: 30px;
        height: 25px;
    }
    span {
        vertical-align: top;
    }
}

.nav .dropdown-toggle span {
    display: inline-block;
    margin-right: 10px;
}

