body {
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1000000;
    }

    .chordGridCollectionView {
        width: 918px;
        height: 1068px;
        .chordGridView:last-child {
            opacity: 0.5;
        }
    }

    #content {
        padding-top: 80px;
        padding-left: 20px;
        width: 100%;
        height: 100%;
    }

    .controlsView {
        text-align: center;
        position: fixed;
        width: 100%;
    }

    input {
        border: none;
    }

    a, a:hover {
        text-decoration: none;
    }
}